.title{
    
    margin-left: -200px;
    margin-top: -50px;
}
    
    .setumeibun{
    float: right;
    margin-right: -200px;
    font-size: large;
    }
    .samplecode{
    float: left;
    margin-left: -200px;
    font-size: large;
        }

    .samplecode code{
        background-color: aqua;
    }
    .samplecode h4{
        background-color: rgba(138, 138, 138, 0.301);
    }
    
    .tugi-pe-zi{
        position: fixed; 
        bottom: -650px; 
        right: 150px;
        font-size: 25px;
    }
    .modoru{
        position: fixed; 
        bottom: -650px; 
        right: 400px;
        font-size: 25px;
    }

    .Fig6-2{
        float: left;
        margin-left: 50px;
    }

    .kouzou{
        border: thick double #32a1ce;
    }
    .setumeibun h3{
        background-color: rgba(138, 138, 138, 0.301);
    }


    .bold{
        font-weight: bold;
    }
    
    .setumeibun h5{
        background-color: rgba(138, 138, 138, 0.301);
    }
    .a{
        background-color: rgba(88, 88, 88, 0.651);
        color: azure;
    }